@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Jade's Photo Database</h1>
    <p>A collection of life's special moments.</p>
</div>
