@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var Brand = ViewData["Brand"];
}

<div class="text-center">
    <h1 class="display-4">My Photo Page</h1>
    <p>A selection of my favorite photos!</p>
    <br>
    <p>@brand</p>
</div>